/* @font-face {
    font-family: 'Open Sans'; Имя шрифта
    src: url('https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OXehpOqc.woff2'); путь к шрифту
} */

@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,700;1,900);

* {
    margin: 0;
}

.wrap {
    /* display: flex; */
    /* align-content: center; */
    /* justify-content: center; */
    /* align-items: center; */
    width: 1024px;
    margin: 0 auto;
}

.main_logo {
    width: 8%;
    float: left;
}

.phones {
    /* display: flex;
    justify-content: flex-end; */
    align-content: center;
    color: #fff;
    float: right;
    font-family: 'Lato';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    /* margin-top: 20px; */
}

header {
    min-height: 450px; /* Размеры хедера */
    background: url('../img/cover_orig.png'); /* Фон */
    background-size: cover; /* Разрешение фона */
}

.top-line {
    /* display: flex; */
    height: 80px;
    background: rgba(41, 41, 70, 0.5);
    padding: 20px 0;
}

.random_anime   {
    /* display: flex;
    justify-content: flex-end;
    align-content: center; */
    font-family: 'Open Sans';
    font-size: 15px;
    color: white;
    background: none;
    border: 2px solid #018dc4;
    border-radius: 19px;
    padding: 5px 10px;
    float: right;
    margin: 23px;
    margin-top: 0 auto;
    margin-left: 0 auto;
    /* margin-top: 23px;
    margin-left: 13px; */
} 